*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana,  Tahoma;
}
body{
    background-image: url("E-waste.webp");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    
}
.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(1, 48, 48);
}
.logo{
    padding: 2rem;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
}
.nav-bar{
    padding: 2rem;
    display: flex;
    gap: 2rem;
}
.nav-bar a{
    text-decoration: none;
    color: white;
}
.hamburger{
    padding: 2rem;
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 1rem;
    color: white;
}
.nav-mobile{
    display: none;
    flex-direction: column;
    gap: 1rem;
    background: darkcyan;
    padding: 2rem;
}   
.nav-mobile a{
    text-decoration: none;
    color: white;
}
.home{
    margin: 2rem auto;
    max-width: 40rem ;
    text-align: center;
}
span{
    font-weight: bold;
    color: rgb(255, 255, 255);
}
.Para{
    color: rgb(228, 235, 235);
    margin: 2rem 25rem 20rem 25rem ;
    text-align: center;
    padding: 0.5rem ;
    background: rgba(0, 12, 12, 0.651);
    width: 100%;

    padding: 0.2rem;
    border-left: solid darkcyan 0.2rem;
}
.service{
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana;
    padding: 1rem 0.5rem 0rem; 
    text-align:start;
}
.sevpara{
    color: rgb(228, 235, 235);
    margin: 1rem 1rem;
    padding: 1rem;
     background: rgba(0, 12, 12, 0.651);
    border-left: solid darkcyan 0.2rem;
}
.about{
    color: rgb(2, 22, 22);
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana;
     padding: 1rem 0.5rem 0rem; 
    text-align:start;
}
.aboutpara{
    color: rgb(228, 235, 235);
    margin: 1rem 1rem;
    padding: 1rem;
     background: rgba(0, 12, 12, 0.651);
    border-left: solid darkcyan 0.2rem;
}

.grid{
    margin: 3rem auto;
    display: grid;
    place-items: center;
    max-width: 30rem ;
    border: solid darkcyan 0.1rem;
    border-radius: 0.5rem;
    background: rgba(4, 223, 223, 0.253);
}
.login{
    border-bottom-left-radius: 0.2rem  ;
    border-bottom-right-radius: 0.2rem ;
    padding: 0rem 2rem 0.2rem;
    margin: 0rem 1rem 0.7rem;
    background: rgba(0, 139, 139, 0.61);
}
.form input{
     max-width: 40rem ;
    border-radius: 0.2rem;
    border: none;
    padding: 0.3rem;
    display: block;
    margin-bottom: 0.8rem;
    width: 100%;
}
.form textarea{
    border: none;
 max-width: 40rem ;
       border-radius: 0.2rem;
    padding: 0.3rem;
    display: block;
    margin-bottom: 0.8rem;
    width: 100%;
}
.form button{
       border-radius: 0.2rem;   
    border: none;
    padding: 0.5rem;
    width: 100%;
    margin-bottom: 1rem;
    background-color: rgb(2, 46, 46);
    color: white;
    font-weight: bold;
    cursor: pointer;
}
aside{
     border-top: solid black 0.1rem;
    background: rgba(0, 139, 139, 0.534);
    margin: 1rem 0rem;
    display: grid;
    place-items: start;
}
.contacts{
    color: rgb(0, 0, 0);
    padding: 1rem;
    
}
p{
    padding: 0rem 1rem;
    margin-bottom: 0.5rem;
    line-height: 1.6rem;
    max-width: 40rem;
}
footer{
    background: rgb(1, 48, 48);
    color: white;
    text-align: center;
    padding: 1rem;
    width: 100%;
    height: fit-content;
    margin-top: 2rem;
}
@media (max-width:768px){
    .nav-bar{
        display: none;
    }
    .logo{
        font-size: 1rem;
    }
    .hamburger{
        display: flex;
    }
    .nav-mobile.show{
        display: flex;
    }
    .grid{
        max-width: 20rem ;
    }
    .form input{
        font-size: 1rem;
        margin: 1rem;
    }
    .form textarea{
        font-size: 1rem;
        margin: 1rem;
    }
    .form button{
        font-size: 1rem;
        margin: 1rem;
    }
    .service{
        font-size: 1rem;
    }
    .sev{
        font-size: 0.9rem;
    }
    .about{
        font-size: 1rem;
    }
    .aboutpara{
        font-size: 0.9rem;
    }   
        .home{
        margin: 2rem 1rem 20rem 1rem ;
    } 
    .Para{
        margin: 2rem 1rem 20rem 1rem ;
    }
    

}

@media (max-width:480px){
    .nav-bar{
        display: none;
    }
    .logo{
        font-size: 1rem;
    }
     .hamburger{
        display: flex;
    }
    .nav-mobile.show{
        display: flex;
    }
       .grid{
        max-width: 20rem ;
    }
    .form input{
        font-size: 1rem;
        margin: 1rem;
    }
    .form textarea{
        font-size: 1rem;
        margin: 1rem;
    }
    .form button{
        font-size: 1rem;
        margin: 1rem;
    }
    .service{
        font-size: 1rem;
    }
    .sev{
        font-size: 0.9rem;
    }
    .about{
        font-size: 1rem;
    }
    .aboutpara{
        font-size: 0.9rem;
    }  
    .home{
        margin: 2rem 1rem 20rem 1rem ;
    } 
    .Para{
        margin: 2rem 1rem 20rem 1rem ;
    }
    
}


